<template>
  <v-container class="terms-of-use-view">
    <v-row>
      <v-col cols="12" md="6">
        <v-card class="tw-mb-4">
          <v-card-title>Terms of Use</v-card-title>
          <v-card-text>
            <p class="!tw-font-light">Lorem ipsum dolor sit amet consecte</p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
